{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block body %}

<style>
.post-cards-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 1em;
  border: none;
  

}

.post-card{
  background-color: var(--main-whitish-gray-color);
  width: 20%;
  border-radius: 15px;
  border: none;
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  
  
}

.post-card-img-wrapper{
  width: 100%;
  border: none;
  overflow: hidden;
}

.post-card-img-wrapper > img {
  max-width: 100%;
  height: auto;
  display:block;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 15px;
}

.post-card > p, h3 {
  color: black;
}

.tagwords {
    display:flex;
    flex-direction: row;
    gap: 1em;
}

.tagwords > a {
    text-decoration: none;
    color: var(--main-darkgreen-color);

}

.interactions {
    display:flex;
    flex-direction: row;
    gap: 1em;
}

.actions> {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
</style>

<h1>Edit Post</h1>
<div class="post-cards-wrapper">
  <div class="post-card">
        <div class="actions">
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('post/_delete_form.html.twig') }}
      </div>
  </div>
</div>



    

    

   

{% endblock %}









{# {% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_post_index') }}">back to list</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %} #}
